<h1>Data Science Tools and Ecosystem</h1>

## In this notebook, Data Science Tools and Ecosystem are summarized

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Anaconda |
| Pycharm |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
a = 200/60
a

3.3333333333333335

<b> Objectives: </b>

* markdown cell with title of the notebook
* markdown cell to list data science languages
* markdown cell to list data science libraries
* markdown cell with a table of Data Science tools
* markdown cell introducing arithmetic expression

## Author
Akash Ranjan